<h3 class="mb-3">Cadastrar Projeto</h3>
<form  class="p-4 p-md-3 border rounded-3 bg-light" (ngSubmit)="onSubmit()" #createForm="ngForm">
    <div class="form-floating mb-3">
        <input type="text" id="name" name="name" class="form-control" maxlength="100" [(ngModel)]="project.name" required #name="ngModel" autofocus/>
        <label for="name">Nome:</label>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Este campo é obrigatório</div>
    </div>
    <div class="form-floating mb-3">
        <input type="date" id="dateBegin" name="dateBegin" class="form-control" [(ngModel)]="project.dateBegin" required #dateBegin="ngModel" />
        <label for="dateBegin">Data Início:</label>
        <div [hidden]="dateBegin.valid || dateBegin.pristine" class="alert alert-danger">Este campo é obrigatório</div>
    </div>
    <div class="form-floating mb-3">
        <input type="date" id="dateEnd" name="dateEnd" class="form-control" [(ngModel)]="project.dateEnd" required #dateEnd="ngModel" />
        <label for="dateEnd">Data Fim:</label>
        <div [hidden]="dateEnd.valid || dateEnd.pristine" class="alert alert-danger">Este campo é obrigatório</div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="reset" class="btn btn-danger">Limpar</button>
        <button type="submit" class="btn btn-success" [disabled]="!createForm.form.valid">Cadastrar</button>
      </div>
</form>